{ 
  "extends": [
    "airbnb/base",
    "eslint:recommended", 
    "plugin:react/recommended"
  ],
  "rules": {
    "no-underscore-dangle" : "off",
    "no-plusplus": "off",
    "react/prop-types": "off",
    "react/display-name": "off"
  },
  "env": {
    "browser": true,
    "node": true
  }
}