$default-shadow: 0 0 5px -1px rgba(0,0,0,0.2);

.widget-group {
  display: flex;
  flex-direction: column;
  padding: 12px;
  color: #444;
  border:  1px solid #CCC;
  background: #FFF;
  box-shadow: $default-shadow;
  margin-bottom: 12px;

  button {
    margin-top: 12px;
    box-shadow: $default-shadow;
  }

  label {
    margin-top: 8px;
  }

  h3 {
    margin: 0;
    padding: 0;
  }

  input {
    display: flex;
    flex-grow: 1;
    width: 100%;
  }
}

.spread {
  flex-grow: 1;
}