//TODO: Style
.default-valueslider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .default-slider {
    overflow: hidden;
    margin-left: 6px;
  }

  .default-slider::-webkit-slider-thumb {
    width: 0px;
    -webkit-appearance: none;
    cursor: ew-resize;
    box-shadow: -800px 0 0 800px #525252;
  }

  .input-slider-pair {
    width: 20%;
    text-align: center;
    margin-left: 6px;
  }

  :disabled {
    opacity: 50%;
  }
}