html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex: 1;
}

#left {
  width: 20vw;
  background-color: orange;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

#right {
  flex-grow: 1;
  background-color: red;
}